@mixin nav_animation{
    transition: 0.3s ease-in-out;
}

@mixin button_transition {
    transition: 0.2s ease-in-out;
}

@mixin connect_transition {
    transition: 0.5s ease-in-out;
}

@mixin buttongo_transition{
    transition: 0.4s ease-in-out;
}

@mixin network_transition{
    transition: 0.3s ease-in-out;
}