@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
$nav_black:rgba(0,0,0,0.87);
$nav_items:rgba(250,250,250,1);
$nav_items_hover:rgb(255, 11, 11);

$noto_sans:'Noto Sans', sans-serif;
$poppins:'Poppins', sans-serif;
$tensorflow_web_orange_left:#FF6E00;
$tensorflow_web_orange_right:#FF9000;

$body_background:rgba(17, 16, 16, 0.931);

$footer-black:rgb(0, 0, 0);

$Github:rgb(0, 183, 255);